
    <div class="header">
        <p class="headerHeadline">Kanban Projekt Management Tool</p>
        <div class="headerUserProfilContainer">
            <div class="headerUserProfil">
                <img class="headerUserProfilIcon" src="./assets/img/questionmark.svg" alt="" onclick="showContent('helpContent')">
                <div id="headerUserProfilLetter" class="headerUserProfilLetter " onclick="logoutHeaderOnOrOff()"></div>
            </div>
            <div id="logout-container" class="d-none">
                <div><a href="http://127.0.0.1:5500/PrivacyPolicy.html">Privacy Policy</a></div>
                <div><a href="http://127.0.0.1:5500/legalNotice.html">Legal Notice</a></div>
                <div onclick="emptyUserArry()"><a href="http://127.0.0.1:5500/index.html">Log Out</a></div>
            </div>
        </div>
        
    </div>

    